#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=lapras
BUNDLE_NAME=Diene Mobile (Lapras)
BUNDLE_DISPLAY_NAME=Diene Mobile (Lapras)
FLUTTER_BASE_APP_GROUP=group.cloud.atomi.lapras.platform.service.app
CODE_SIGN_ENTITLEMENTS=Runner/Runner.entitlements
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS=YES
