#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=raichu
BUNDLE_NAME=Diene Mobile
BUNDLE_DISPLAY_NAME=Diene Mobile
FLUTTER_BASE_APP_GROUP=group.cloud.atomi.raichu.platform.service.app
CODE_SIGN_ENTITLEMENTS=Runner/Runner.entitlements
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS=YES
